In [1]:
import pandas as pd
import yfinance as yf
import sys

In [2]:
# Use the following site to get list of all publicly traded Stocks
#http://nxcoreapi.com/symbols.php

#nyse
nyse = pd.read_html('http://nxcoreapi.com/symbols.php?search=&m_exchange=NYSE&m_type=&s_type=exact&m_symbol=on&m_name=on')
#nasdaq
nqnm = pd.read_html('http://nxcoreapi.com/symbols.php?search=&m_exchange=NQNM&m_type=&s_type=exact&m_symbol=on&m_name=on')
#amex
amex = pd.read_html('http://nxcoreapi.com/symbols.php?search=&m_exchange=AMEX&m_type=&s_type=exact&m_symbol=on&m_name=on')

In [3]:
nyse = nyse[0]
nyse.columns = nyse.iloc[0]
nyse = nyse[1:]
nyse

,Exchange,Type,Symbol,Name,Activity,Last Quote,Last Trade
1,NYSE,e,A,"Agilent Technologies, Inc",NaN,2020-08-26,2020-08-25
2,NYSE,e,AA,Alcoa Corp,NaN,2020-08-26,2020-08-25
3,NYSE,e,AAN,"Aaron's, Inc",NaN,2020-08-26,2020-08-25
4,NYSE,e,AAP,"Advance Auto Parts, Inc W/I",NaN,2020-08-26,2020-08-25
5,NYSE,e,AAT,"American Assets Trust, Inc",NaN,2020-08-25,2020-08-25
...,...,...,...,...,...,...,...
3334,NYSE,e,ZTO,"ZTO Express (Cayman), Inc ADS",NaN,2020-08-26,2020-08-26
3335,NYSE,e,ZTR,Virtus Total Return Fund Inc.,NaN,2020-08-26,2020-08-25
3336,NYSE,e,ZTS,"Zoetis, Inc",NaN,2020-08-26,2020-08-25
3337,NYSE,e,ZUO,"Zuora, Inc",NaN,2020-08-26,2020-08-25
3338,NYSE,e,ZYME,"Zymeworks, Inc",NaN,2020-08-26,2020-08-25

In [4]:
nqnm = nqnm[0]
nqnm.columns = nqnm.iloc[0]
nqnm = nqnm[1:]
nqnm

,Exchange,Type,Symbol,Name,Activity,Last Quote,Last Trade
1,NQNM,e,AACG,ATA Creativity Global - American Depositary Sh...,NaN,2020-08-26,2020-08-25
2,NQNM,e,AAL,"American Airlines Group, Inc",NaN,2020-08-26,2020-08-26
3,NQNM,e,AAME,Atlantic American Corp,NaN,2020-08-26,2020-08-25
4,NQNM,e,AAOI,"Applied Optoelectronics, Inc",NaN,2020-08-26,2020-08-25
5,NQNM,e,AAON,"AAON, Inc",NaN,2020-08-26,2020-08-25
...,...,...,...,...,...,...,...
2616,NQNM,e,ZVZZC,NASDAQ TEST STOCK Nextshares Test Security,NaN,NaN,NaN
2617,NQNM,e,ZVZZT,NASDAQ TEST STOCK,NaN,2020-08-26,2020-08-26
2618,NQNM,e,ZXYZ.A,Nasdaq Symbology Test,NaN,NaN,2019-10-29
2619,NQNM,e,ZXZZT,NASDAQ TEST STOCK,NaN,NaN,2020-08-25
2620,NQNM,e,ZYNE,Zynerba Pharmaceuticals,NaN,2020-08-26,2020-08-26

In [5]:
amex = amex[0]
amex.columns = amex.iloc[0]
amex = amex[1:]
amex

,Exchange,Type,Symbol,Name,Activity,Last Quote,Last Trade
1,AMEX,e,AAMC,Altisource Asset Mgmt Corp,NaN,2020-08-26,2020-08-25
2,AMEX,e,AAU,"Almaden Minerals, Ltd",NaN,2020-08-26,2020-08-25
3,AMEX,e,ACU,Acme United Corp,NaN,2020-08-26,2020-08-25
4,AMEX,e,ACY,AeroCentury Corp,NaN,2020-08-26,2020-08-25
5,AMEX,e,AE,"Adams Resources & Energy, Inc",NaN,2020-08-25,2020-08-25
...,...,...,...,...,...,...,...
316,AMEX,e,YCBD,"cbdMD, Inc.",NaN,2020-08-26,2020-08-26
317,AMEX,e,YCBD.PR.A,"cbdMD, Inc. 8.0% Series A Cumulative Convertib...",NaN,2020-08-25,2020-08-25
318,AMEX,e,YUMA,"Yuma Energy, Inc",NaN,NaN,NaN
319,AMEX,e,ZDGE,"Zedge, Inc",NaN,2020-08-26,2020-08-25
320,AMEX,e,ZOM,Zomedica Pharmaceuticals Corp,NaN,2020-08-26,2020-08-26

In [6]:
stocks = nyse
stocks = stocks.append(nqnm)
stocks = stocks.append(amex)
# stocks.tail()
stocks

,Exchange,Type,Symbol,Name,Activity,Last Quote,Last Trade
1,NYSE,e,A,"Agilent Technologies, Inc",NaN,2020-08-26,2020-08-25
2,NYSE,e,AA,Alcoa Corp,NaN,2020-08-26,2020-08-25
3,NYSE,e,AAN,"Aaron's, Inc",NaN,2020-08-26,2020-08-25
4,NYSE,e,AAP,"Advance Auto Parts, Inc W/I",NaN,2020-08-26,2020-08-25
5,NYSE,e,AAT,"American Assets Trust, Inc",NaN,2020-08-25,2020-08-25
...,...,...,...,...,...,...,...
316,AMEX,e,YCBD,"cbdMD, Inc.",NaN,2020-08-26,2020-08-26
317,AMEX,e,YCBD.PR.A,"cbdMD, Inc. 8.0% Series A Cumulative Convertib...",NaN,2020-08-25,2020-08-25
318,AMEX,e,YUMA,"Yuma Energy, Inc",NaN,NaN,NaN
319,AMEX,e,ZDGE,"Zedge, Inc",NaN,2020-08-26,2020-08-25
320,AMEX,e,ZOM,Zomedica Pharmaceuticals Corp,NaN,2020-08-26,2020-08-26

In [7]:
stocks = stocks[['Symbol', 'Name', 'Exchange']]
stocks.reset_index(inplace=True)
stocks = stocks.drop(columns=['index'])
stocks

0        Symbol                                               Name Exchange
0             A                          Agilent Technologies, Inc     NYSE
1            AA                                         Alcoa Corp     NYSE
2           AAN                                       Aaron's, Inc     NYSE
3           AAP                        Advance Auto Parts, Inc W/I     NYSE
4           AAT                         American Assets Trust, Inc     NYSE
...         ...                                                ...      ...
6273       YCBD                                        cbdMD, Inc.     AMEX
6274  YCBD.PR.A  cbdMD, Inc. 8.0% Series A Cumulative Convertib...     AMEX
6275       YUMA                                   Yuma Energy, Inc     AMEX
6276       ZDGE                                         Zedge, Inc     AMEX
6277        ZOM                      Zomedica Pharmaceuticals Corp     AMEX

[6278 rows x 3 columns]

In [9]:
# msft.info

In [10]:
# type(msft.history(period="max"))
# msft.history(period='max')

In [11]:
# data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")
# data['Close']

In [14]:
symbol = yf.Ticker('MYO')
symbol.calendar
symbol.quarterly_financials

,2020-06-30,2020-03-31,2019-12-31,2019-09-30
Research Development,397811,506953,544757,544679
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,-3.28585e+06,-3.80138e+06,-2.7615e+06,-2.78812e+06
Minority Interest,None,None,None,None
Net Income,-3.28693e+06,-3.80199e+06,-2.7615e+06,-2.78812e+06
Selling General Administrative,2.89046e+06,3.60497e+06,3.26037e+06,2.69261e+06
Gross Profit,439728,689494,1.22431e+06,412244
Ebit,-2.84855e+06,-3.42243e+06,-2.58082e+06,-2.82505e+06
Operating Income,-2.84855e+06,-3.42243e+06,-2.58082e+06,-2.82505e+06
Other Operating Expenses,None,None,None,None
Interest Expense,-131800,-318900,-219218,-219218
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1085,613,0,0
Total Revenue,858590,1.00814e+06,1.5207e+06,606619
Total Operating Expenses,3.70714e+06,4.43057e+06,4.10151e+06,3.43167e+06
Cost Of Revenue,418862,318651,296386,194375
Total Other Income Expense Net,-437302,-378953,-180688,36930
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,-3.28693e+06,-3.80199e+06,-2.7615e+06,-2.78812e+06
Net Income Applicable To Common Shares,-3.28693e+06,-4.47262e+06,-2.7615e+06,-2.78812e+06

In [ ]:
i = 0
for row in stocks.itertuples():
    print (i)
    symbol = row[1]
    symbol = yf.Ticker(symbol)
    
    j=0
    
#     stocks.loc[i, 'quarterly_earnings'] = symbol.calendar[0]['Earnings Date']

    while j < 2:
        try:
            stocks.loc[i, 'quarterly_earnings'] = symbol.calendar[0]['Earnings Date']
            break
        except:
            stocks.loc[i, 'quarterly_earnings'] = 'NA'
            print(sys.exc_info())
            j+=1
            
    j=0
    while j<2:
        try:
            stocks.loc[i, 'previous_earnings_date'] = symbol.quarterly_financials.columns[0]
            break
        except:
            stocks.loc[i, 'previous_earnings_date'] = 'NA'
            print(sys.exc_info())
            j+=1  
   
    i += 1
    if i == 20:
        break

0
1
2
3
4
5
6
(<class 'KeyError'>, KeyError(0), <traceback object at 0x7f0e43ac2ec0>)
(<class 'KeyError'>, KeyError(0), <traceback object at 0x7f0e43ac24c0>)
7
8
9

In [14]:
stocks.to_csv('quarter.csv')

In [10]:
stocks.head(20)

0     Symbol                                Name Exchange
0          A           Agilent Technologies, Inc     NYSE
1         AA                          Alcoa Corp     NYSE
2        AAN                        Aaron's, Inc     NYSE
3        AAP         Advance Auto Parts, Inc W/I     NYSE
4        AAT          American Assets Trust, Inc     NYSE
5         AB  AllianceBernstein Holding LP Units     NYSE
6        ABB                             ABB Ltd     NYSE
7       ABBV                         AbbVie, Inc     NYSE
8        ABC              AmerisourceBergen Corp     NYSE
9       ABEV                        Ambev SA ADS     NYSE
10       ABG        Asbury Automotive Group, Inc     NYSE
11       ABM                 ABM Industries, Inc     NYSE
12       ABR                  Arbor Realty Trust     NYSE
13  ABR.PR.A        Arbor Realty Trust, Inc PR A     NYSE
14  ABR.PR.B        Arbor Realty Trust, Inc PR B     NYSE
15  ABR.PR.C        Arbor Realty Trust, Inc PR C     NYSE
16       ABT                 Abbott Laboratories     NYSE
17        AC       Associated Capital Group, Inc     NYSE
18       ACA                         Arcosa, Inc     NYSE
19       ACB                Aurora Cannabis, Inc     NYSE

In [21]:
msft = yf.Ticker("MSFT")
msft

yfinance.Ticker object <MSFT>

In [22]:
msft.calendar

                                    0                    1
Earnings Date     2020-10-21 00:00:00  2020-10-26 00:00:00
Earnings Average                 1.54                 1.54
Earnings Low                     1.49                 1.49
Earnings High                    1.61                 1.61
Revenue Average           35689500000          35689500000
Revenue Low               35299100000          35299100000
Revenue High              36394000000          36394000000

In [24]:
msft.quarterly_earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [28]:
msft.calendar[0]['Earnings Date']

Timestamp('2020-10-21 00:00:00')